@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    min-height: 100vh;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}

h2{
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 1rem;
}

p{
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
}

